$blue: #EDEDED;
$transparant_blue:rgba(8, 51, 88, 0.7);
$font-color: #eee;
$navcolor_gradient: linear-gradient(to right, rgba(135, 162, 251,0.8),  rgba(111, 56, 197,0.8),  rgba(173, 221, 208,0.8));

$rose:#87A2FB;
$btncolor: rgb(143, 142, 142);


$border: 0.5rem solid $rose;
$border-small: 0.2rem solid $rose;
$smallest-border:0.1rem solid #87A2FB;

$gradient: linear-gradient(to bottom right, rgba(22, 33,63,0.8), 80%, rgba(244, 244, 244, 0.5));
$gradient_galerij: linear-gradient(to bottom right, rgba(135, 162, 251,0.8), 80%, rgba(111, 56, 197,0.8));