@use "../components/colors/colors.scss";


@media only screen and (max-width: 600px) {
    header {
      flex-direction: column;
      align-items: flex-start;
    }
  
    nav {
      margin-top: 10px;
    }
  
    nav a {
      display: block;
      margin: 5px 0;
    }
}